# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Debug / logs
*.log
.debugging.txt

# OS
.DS_Store
Thumbs.db

# Build files
*.apk
*.aab

# Temporary archives
*.zip
*.stackdump